<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="row column">
        <h1>Page not found</h1>
        <div class="callout primary">
            <p>Nothing here, sorry. Try the <a href="/"> home page</a>.</p>
        </div>
    </div>
</body>

</html>